/* nav style */
nav{
   

    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    
}
nav li a {
    text-decoration: none;
    
}
 .button-style{
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    border-style: solid;
    border-color: #006A50;
    padding: 15px 30px;
    background-color: #F5F5F5;
 }
.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }

  /* banner styles */
  .banner{
max-width: 1360.03px;
height: 560px;
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
   background-color:#C6E4D6;
   border-radius: 24px;
  }
  .banner-content{
    max-width: 622px;

  }
  
  .banner-greetings{
    color: grey;
    font-size: 24px;
    font-weight: 500;
  }

  .banner-title{
    font-size: 56px;
    font-weight: 700;
  }

  .banner-btn-styel{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px ;
    background-color: #006A50;
    color: #F5F5F5;
    border-radius: 8px;
    border-style: solid;
    border-color: #006A50;
  }
 .banner-profile-pic{
    width: 474px;
 }